*{
    margin: 0;
    padding: 0;
    list-style: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a{
    text-decoration: none;
}
body , html  {
    overflow-x: hidden;
background-color: #252B42;
scroll-behavior: smooth;
}
header {
    position: fixed;
    height: 90px;
    width: 100%;
    z-index: 999999;
    overflow-x: hidden;

background-color: #2c334b46;
    backdrop-filter: blur(10px);   
    -webkit-backdrop-filter: blur(10px);
}
header nav   {
    display: flex;
}

header nav  ul {
    display: flex;
}
header nav{
    max-width: 1400px ;
    margin: auto;
 padding-top: 30px;


}
header nav ul {

   margin-top: 5px;
  margin-left: 50px;
}

header nav .logo{
   color: rgb(255, 255, 255);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 25px;
   font-weight: 700;
   
}

header nav ul a{
   color: rgb(255, 255, 255);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 17px;
    margin-left: 50px;
    transition: 0.3s;

}
header nav ul a:hover{
   color: rgb(160, 160, 160);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 17px;
    margin-left: 50px;
    transition: 0.3s;

}

.Login{
    margin-left: auto;
    margin-right: 40px;
font-weight: 700;
transition: 0.2s;

}

header nav .Become  {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 150, 255);
    padding: 15px 30px;
    font-size: 15px;
    border-radius: 10px;
font-weight: 600;
transition: 0.2s;
}
header nav .Become:hover{
    background-color: rgb(6, 105, 185);

}
.Login:hover{
    color: rgb(212, 212, 212);

}


header nav  a{
    color: rgb(255, 255, 255);

}









.home-bg-1{

    background-image: url("..img/image.png");
    background-size:  cover;
width: 100%;
margin: auto;
}

.home-ail-1{
    height: 100vh;
    max-width: 1400px;
    margin: auto;
    display: grid;
    display: flex;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
}

.home-text-1 h1{
color: aliceblue;
    font-size: 100px;
}
.home-text-1 p{
    margin-top: 30px;
color: rgb(221, 221, 221);
    font-size: 25px;
    width: 500px;


}
.home-img-1 {
  
    width: 600px;
     display: flex;
    justify-content: center;
}

.home-img-1 .img-1 {
    z-index: 99;
    margin-top: -40px;
}

.home-img-1 .img-1 {
    position: absolute;
    
}


.home-img-1 .img-2 {
    position: absolute;
    margin-right: -80px;
    margin-top: -10px;
 


}
.img-1  , .img-2  ,.img-3 {
    width: 500px;
}



.home-text-1 ul{
display: flex;
margin-top: 50px;
}

.home-text-1 ul a {
    margin-left: 20px;
    color: aliceblue;
}



.home-text-1 ul .a-1 {
    background-color: rgb(22, 150, 255);
    padding: 15px 30px;
    border-radius: 1000px;

    transition: 0.3s;
}
.home-text-1 ul .a-2 {
border: 1px solid rgb(255, 255, 255);
    padding: 14px 30px;
    border-radius: 1000px;
    transition: 0.3s;
    
}


.home-text-1 ul .a-1:hover{
    background-color: rgb(17, 118, 201);

}

.home-text-1 ul .a-2:hover{

    background-color: rgb(255, 255, 255);
color: black;

}













.home-bg-2{

width: 100%;

}

.home-text-2{
text-align: center;
margin-top: 50px;
margin: auto;

}
.home-text-2 h2{
    margin: auto;
    color: aliceblue;
    font-size: 60px;
    width: 800px;
}
.home-text-2 p{
    margin: auto;
    color: rgb(189, 189, 189);
    font-size: 20px;
    width: 700px;
    margin-top: 20px;
}





.home-ail-box-1{
   
    max-width: 1400px;
    padding-bottom: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
  
}



.home-ail-box-1 .box-1{
display: flex;
justify-content: center;
margin: auto;
align-items: center;
     margin-top: 100px;
    width: 400px;
    height: 200px;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.3s;
    
}

.home-ail-box-1 .box-1:hover{
background-color: rgb(36, 65, 90);

    
}

.box-1  .img-home-2 img {

    width: 100px;
}

.text-home-2 {
    margin-left: 20px;
}

.text-home-2  h2{
color: aliceblue;

}
.text-home-2  p{
color: rgb(206, 206, 206);
font-size: 14px;
width: 200px;
}















.home-bg-3{
    margin-top: 100px;
    padding-bottom: 100px;
}

.text-home-3 {
text-align: center;
margin: auto;
}

.text-home-3  h2{
color: aliceblue;
    font-size: 60px;

}
.text-home-3  p{
color: rgb(167, 167, 167);
    font-size: 20px;
width: 600px;
margin: auto;
    margin-top: 20px;
}

.box-ail-2{
    margin-top: 100px;
}
.box-2{
    text-align: center;
background-color: aliceblue;   
 max-width: 1000px;
    padding-bottom: 50px;
    margin: auto;
    border-radius: 10px;
transition: 0.3s;
}
.box-2:hover{
    transform: scale(1.1);
box-shadow: 0 10px 25px rgba(0, 0, 0, 0.192);
}


.box-2 .img-2 {
    margin-top: 50px;
    width: 100px;
}
.box-2 .img-3{
    margin-top: 30px;
    margin-bottom: 10px;
width: 120px;

}

.box-2 .p-1 {
    margin: auto;
    width: 450px;
    font-weight: 500;
color: #494949;
    margin-top: 50px;
}
.box-2 .p-2 {
    margin: auto;
 font-size: 30px;
    margin-top: 10px;
    font-weight: 700;
}



.box-2 .p-3 {
    margin: auto;
    margin-top: 30px;
color: #494949;
}


.home-ail-3{
    
width: 1400px;
margin: auto;
margin-top: 100px;
}



.home-ail-box-3{


    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

.box-3{
    width: 300px;
    display: flex;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    transition: 0.3s;
}
.box-3:hover{
    transform: scale(0.9);
background-image: linear-gradient(  150deg,rgb(36, 65, 90) ,rgba(241, 241, 241, 0.144));
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}
.box-3 img {
    width: 80px;
}
.box-3 h2 {
    font-size: 20px;
    margin-top: 5px;
}
.box-3 p {
    font-size: 20px;
}




.home-ail-4{

   display: grid;
   grid-template-columns: auto auto;
 margin: 100px;
 width: 1400px;
 margin: auto;
 margin-top: 100px;
}

.box-4{

    background-color: aliceblue;
    border-radius: 5px;
    width: 600px;
    height: 200px;
   display: grid;
   grid-template-columns: auto auto;
   display: flex;
justify-content: center;
align-items: center;
  margin: auto;
}


.text-home-4  h2{
    color: rgb(16, 84, 185);
    font-size: 40px;
}

.text-home-4  p{
    font-size: 18px;
    width: 300px;
    margin-top: 10px;
}
.text-home-4  h2 span{
    font-size: 15px;
}

button{
       background-color: rgb(22, 150, 255);
       border-radius: 5px;
       padding: 15px 30px;
       border: 0px;
       margin-top: 20px;
color: aliceblue;
font-weight: 600;

transition: 0.3s;

}

button:hover{
    transform: scale(1.1);
       background-color: rgba(22, 150, 255, 0.521);
    

}




















.home-ail-5{
    display: grid;
    grid-template-columns: auto auto;
    width: 1400px;
    margin: auto;
        margin-top: 150px;
        

}

.text-home-5 h2 {
font-size: 50px;
color: aliceblue;
width: 700px;

}
.text-home-5 p {
    margin-top: 20px;
font-size: 20px;
color: rgb(185, 185, 185);
width: 700px;


}
.img-home-5 img{
width: 400px;
}










.home-ail-6{
   margin: auto;
      margin-top: 100px;
      display: flex;
   width: 700px;
}
.home-ail-6 img {
height: 500px;
border-radius: 1000px 0px 0px 5000px ;
}


form .in {
background-color: rgba(233, 233, 233, 0.493);
    display: block;
    width: 90%;
    height: 50px;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.226);
    outline: none;
        margin: auto;
margin-top: 10px;
margin-bottom: 10px;
    
}
form{
    background-color: rgb(255, 255, 255);
 border-radius: 0px 10px 10px 55px ;
    width: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
 margin: auto;

}
form .in:focus {
   
      border: 1px solid rgba(0, 0, 0, 0.226);

    outline: none;

}
form label {
    color: rgb(0, 0, 0);
font-size: 18px;
    margin-left: 20px;
    font-weight: 600;

}
form h2 {

    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}



.submit{

       background-color: rgb(22, 150, 255);
       font-size: 18px;
       color: aliceblue;
       width: 90%;
       padding: 15px ;
       margin: auto;
             border: 0px ;
       font-weight: 600;
    display: block;
        border-radius: 5px;
transition: 0.3s;
      border: 1px solid rgb(22, 150, 255);
      margin-top:40px;

}

.submit:hover{
       background-color: rgba(22, 150, 255, 0);
        color: #494949;
        border-radius: 5px;

}








.hoem-bg-7{
    margin-top: 200px;
     border-top: 1px solid rgb(255, 255, 255) ;
    width: 100%;
    padding-bottom: 20px;
}

.home-ail-7{
    margin: auto;
    max-width: 1500px;
      display: grid;
    grid-template-columns: auto auto auto auto;



}


.text-home-1{
    margin-top: 20px;
text-align: center;
}
.text-home-1 h2{
    margin-left: 20px;
    color: aliceblue;
    font-size: 25px;
    font-weight: 500;
}
.text-home-1 p{
    color: aliceblue;


    margin-top: 20px;

}
.text-home-1 nav{
    color: aliceblue;
    margin-top: 20px;



}
.text-home-1 nav a{
font-size: 20px;
margin-left: 10px;
    

}
.text-home-1 ul {
margin-top: 20px;
}
.text-home-1 ul a{
    color: aliceblue;

}
.text-home-1 ul li{
margin-top: 10px;
}




















































@media (max-width: 1500px) {
    
header nav{
    max-width: 80% ;

}
.home-ail-1{
    height: 100vh;
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-text-1 h1{
color: aliceblue;
    font-size: 70px;
}


header nav .Become  {
    color: rgb(255, 255, 255);
    background-color: rgb(22, 150, 255);
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 10px;
font-weight: 600;
transition: 0.2s;
}

}



@media (max-width: 1380px){
        header nav ul {
display: none;
    }
}




@media (max-width: 1218px) {
    
    header nav ul {
display: none;
    }
    
header nav{
    max-width: 80% ;

}

.home-ail-1{
    height: 100vh;
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-text-1 h1{
color: aliceblue;
    font-size: 50px;
}
.img-1  , .img-2  ,.img-3 {
    width: 400px;
}






}














@media (max-width: 1024px) {
    
    header nav ul {
display: none;
    }
header nav{
    max-width: 80% ;



}

.home-ail-1{
    height: 100vh;
    max-width: 80%;
    margin: auto;
   display: block;
   text-align: center;
   margin: auto;
}

.home-text-1 h1{
color: aliceblue;
    font-size: 50px;
width: 80%;
margin: auto;
margin-top: 200px;

}
.home-text-1 p  {
margin: auto;
width: 80%;


}
.home-text-1 ul {
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-text-1 ul .a-1 {
    background-color: rgb(22, 150, 255);

    border-radius: 1000px;

    transition: 0.3s;
}

.home-img-1{
width: 100%;
    margin: auto;
     margin-top: 100px;
}
.img-1  , .img-2  ,.img-3 {
    width: 220px;
 


}


}







@media (max-width: 600px) {
    
    header nav ul {
display: none;
    }
header nav{
    max-width: 90% ;



}
header nav  .Become {
 display: none;

}
header nav .Become{
    margin-left: 0px;
    padding: 12px;
}
header nav .Login{
    margin-left: 10px;
 
}
.home-ail-1{
    height: 100vh;
    max-width: 80%;
    margin: auto;
   display: block;
   text-align: center;
   margin: auto;
}

.home-text-1 h1{
color: aliceblue;
    font-size: 40px;
width: 80%;
margin: auto;
margin-top: 120px;

}
.home-text-1 p  {
margin: auto;
width: 80%;
font-size: 20px;


}
.home-text-1 ul {
    display: flex;
    justify-content: center;
    align-items: center;
}



.home-img-1{
width: 100%;
    margin: auto;
     margin-top: 100px;
}
.img-1  , .img-2  ,.img-3 {
    width: 300px;


}



}


@media (max-width: 500px) {

    header nav ul{
    max-width: 0% ;



}
header nav  .Become {
 display: none;

}
header nav .Login{

    margin-left: auto;
}
.home-text-1 ul {
    display: block;
  
}

.home-text-1 ul {

display: block;
margin-top: 50px;

}


.img-1  , .img-2  ,.img-3 {
    width: 200px;


}

}


@media (max-width: 280px) {
.img-1  , .img-2  ,.img-3 {
    width: 100px;
position: absolute;

}

}















































@media (max-width: 1500px) {
    
.home-ail-box-1{
   
   width: 80%;
    padding-bottom: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto ;
  
}
.home-text-2 h2{
    margin: auto;
    color: aliceblue;
    font-size: 40px;

width: 80%;

}
.box-2{
    background-color: aliceblue;   
 max-width: 60%;
}
.home-ail-3{
    
width: 80%;
margin: auto;
margin-top: 100px;
}



.text-home-3  h2{
color: aliceblue;
    font-size: 40px;

}
.box-3{
    margin: auto;
    
}

.home-ail-box-3{


    display: grid;
    row-gap: 30px;
    grid-template-columns: auto   auto;
    margin: auto;
   

}
.home-ail-4{

   display: grid;
   grid-template-columns: auto ;
   row-gap: 30px;
 margin: 100px;
 width: 80%;
 margin: auto;
 margin-top: 100px;
}
.box-4{

    background-color: aliceblue;
    border-radius: 5px;
    width: 490px;
    height: 200px;
   display: grid;
   grid-template-columns: auto auto;
   display: flex;
justify-content: center;
align-items: center;

}
.home-ail-5{
    width: 100%;
    row-gap: 50px;
       display: grid;
    grid-template-columns: auto ;
    margin: auto;
    text-align: center;

}

.text-home-5 h2   {
font-size: 50px;
color: aliceblue;
width: 700px;
margin: auto;

}
.text-home-5 p {
    margin: auto;
} 




.home-ail-box-1{
   
   width: 80%;
    padding-bottom: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: auto  ;
  
}



}














@media (max-width: 768px) {
    
.box-4{

    background-color: aliceblue;
    border-radius: 5px;
    width: 490px;
    height: 200px;
   display: grid;
   grid-template-columns: auto ;
   display: flex;
justify-content: center;
align-items: center;

}
.home-ail-box-3{


    display: grid;
    row-gap: 30px;
    grid-template-columns: auto   ;
    margin: auto;
   

}
.box-2{
    text-align: center;
background-color: aliceblue;   
 width: 90%;
    padding-bottom: 50px;
    margin: auto;
    border-radius: 10px;
transition: 0.3s;
}
.home-text-2 p{
width: 80%;
}
.home-text-2 p{
width: 80%;

}
.box-2 .p-1{
width: 80%;

}

.box-4{
    width: 80%;
}
.text-home-4 h2 {
    font-size: 25px;
   

}
.text-home-4 p{
    font-size: 15px;
    width: 200px;
   
}

.text-home-5 h2{ 
 font-size: 30px;
 width: 80%;

}
.text-home-5 p {
 font-size: 15px;
 width: 80%;

}
.img-home-5 img {
    width: 300px;
}



form{
    width:80%;

}
.home-ail-6 img {
    display: none;
}
.home-ail-6{
    width:80%;

}
form .in {
    width:80%;

}

.home-ail-7{
      display: grid;
    grid-template-columns: auto auto  ;
}
}










@media (max-width: 600px) {
    
.home-ail-box-1 .box-1{

    width: 80%;
    height: 180px;

 
    
}


.box-1  .img-home-2 img {

    width: 50px;
}
.text-home-2  h2{
color: aliceblue;
width: 80%;

}
.text-home-2  p{
color: aliceblue;
width: 80%;

}

.text-home-2  p{
color: rgb(206, 206, 206);
font-size: 14px;
width: 200px;
}
.box-4{

    background-color: aliceblue;
    border-radius: 5px;
    width: 90%;
    border-left: 5px solid rgb(255, 255, 255);
    height: 200px;
   display: grid;
   grid-template-columns: auto auto;
   display: flex;
justify-content: center;
align-items: center;
  margin: auto;
}


.text-home-2  h2{
color: aliceblue;
font-size: 20px;

}.text-home-2  p{
color: rgb(206, 206, 206);
font-size: 14px;
width: 200px;
}
.text-home-3  p{
color: rgb(167, 167, 167);
    font-size: 20px;
width: 80%;
margin: auto;
    margin-top: 20px;
}

.text-home-4  h2{
    color: rgb(16, 84, 185);
    font-size: 20px;
}
.text-home-4  p{
    font-size: 15px;
    width: 140px;
    margin-top: 10px;
}

button{
       background-color: rgb(22, 150, 255);
       border-radius: 5px;
       padding: 15px ;
       border: 0px;
       margin-top: 20px;
color: aliceblue;
font-weight: 600;

transition: 0.3s;

}

}






@media (max-width: 500px) {



.home-img-1 .img-1   {
display: none;
}

.home-img-1 .img-2  {
display: none;
}
.home-img-1 .img-3 {
display: none;
}


.home-text-1 h1{
color: aliceblue;
   margin-top: 200px;
}

.home-text-1 p{
    margin-top: 30px;
color: rgb(221, 221, 221);



}
.text-home-2  h2{
color: aliceblue;

font-size: 15px;
}
.text-home-2  p{
color: rgb(206, 206, 206);
font-size: 14px;
    width: 80%;

}


.home-ail-box-1 .box-1 {
    width: 90%;
}
.text-home-2 {
    width:80%;
    
}


.text-home-3  h2{
color: aliceblue;
    font-size: 30px;

}


.text-home-5  p{
    margin-top: 0px;
}


.img-home-5 img{
width: 200px;
}

.submit{
    width: 80%;
}












.home-ail-7{
      display: grid;
    grid-template-columns: auto   ;
}



}